* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.overlay {
  background-color: rgba(31, 31, 31, 0.75);
}

a:hover,
a:visited,
a:active,
a {
  text-decoration: none;
}

.section-title {
  h1 {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -1rem;
      width: 5rem;
      height: 1px;
      margin-left: -2.5rem;
      background-color: #129cf3;
    }
  }
  p {
    padding: 0rem 7rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}

// ----------- header -----------------
.header {
  background-image: url("../images/header-bg.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  .logo {
    img {
      margin: 5rem 0;
    }
  }

  .header-img {
    margin-bottom: 10rem;
  }

  .header-title {
    font-size: 2.3rem;
  }
  p {
    font-size: 1.3rem;
  }
  a {
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  .header-btns {
    margin-top: 10rem;
    .btn-download {
      border-color: #129cf3;
      &:hover {
        color: white;
        background-color: #129cf3;
      }
    }
    .btn-tour {
      color: #7f8c8d;
      &:hover {
        color: white;
      }
    }
  }
}

// ------------- choose us header -------
.choose-us-header {
  h2 {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1rem;
      width: 5rem;
      height: 1px;
      background-color: #129cf3;
    }
  }
}

// -------------- choose us item --------
.choose-us-item {
  padding-left: 7rem;
  .icon {
    position: absolute;
    top: 4px;
    left: 0;
    i {
      transition: all 0.5s;
    }
  }

  h3 {
    font-size: 1.3rem;
  }
}

// ------------t estimonial -------------
.testimonial {
  background-image: url("../images/testimonial-bg.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  img {
    width: 8rem;
    height: 8rem;
    border: 3px solid #129cf3;
    padding: 3px;
    margin-top: 5rem;
  }

  .carousel-item {
    h4 {
      font-size: 1.3rem;
    }

    .caption {
      padding-bottom: 5rem;
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 1rem;
    li {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 100%;
    }
  }
}

// ------------ features ----------------
.features {
  .feature-left {
    padding-right: 7rem;
    margin-bottom: 5rem;
    .icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .feature-right {
    padding-left: 7rem;
    margin-bottom: 5rem;
    .icon {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .feature-left,
  .feature-right {
    h3 {
      font-size: 1.4rem;
    }
  }
}

// ------------ purchase -------------
.purchase {
  padding: 5rem 0;
}

// --------- screens ------------
.screens {
  img {
    width: 30%;
  }
  .carousel-indicators {
    position: absolute;
    bottom: -3rem;
    li {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 100%;
      border: 1px solid #129cf3;
      background-color: white;

      &.active {
        background-color: #129cf3;
      }
    }
  }
}

// ----------- counter ------------
.counter {
  background-image: url("../images/counter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .counter-list {
    margin-top: 5rem;
    padding: 7rem 5rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 3.5rem;
    p {
      font-size: 1.5rem;
    }
  }
}

// ----------- available -----------
.available {
  p {
    font-size: 0.9rem;
  }
  .cover-icon {
    border-left: 1px solid #34495e;
    transition: all 0.5s;
    &:hover {
      background-color: #121212;
      .icon {
        opacity: 0;
        transition: all 0.5s;
      }
      h3 {
        opacity: 1;
        transition: all 0.5s;
      }
    }
    h3 {
      position: absolute;
      color: white;
      font-size: 1.5rem;
      left: 0;
      right: 0;
      top: 50%;
      margin-top: -1.5rem;
      opacity: 0;
    }
    .icon {
      font-size: 3.6rem;
      position: absolute;
      left: 0;
      right: 0;
      top: 25%;
      bottom: 0;
      text-align: center;
    }  
  }
}

// ---------- contact -------------
.contact {
  #message {
    resize: none;
    height: auto;
  }

  .social {
    a {
      width: 5%;
    }
  }
}

// ------------ footer ------------
.footer {
  border-bottom: 5px solid #129cf3;
}