* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px; }

.header {
  background: url("../images/header-bg.jpg") fixed no-repeat center; }
  .header .header-overlay {
    background-color: rgba(31, 31, 31, 0.75); }
  .header .header-title {
    font-weight: 600;
    color: white; }
  .header p {
    font-size: 1.3rem;
    color: white; }
  .header a {
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 1.3rem; }
  .header .btn-download {
    border-color: #007bff; }
    .header .btn-download:hover {
      color: white;
      background-color: #007bff; }
  .header .btn-tour {
    color: #7f8c8d; }
    .header .btn-tour:hover {
      color: white; }
