* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

.header {
    .header-overlay {
        background-color: rgba(31, 31, 31, 0.75);
    }
    background: url("../images/header-bg.jpg") fixed no-repeat center;
    .header-title {
        font-weight: 600;
        color: white;
    }
    p {
        font-size: 1.3rem;
        color: white;
    }
    a {
        transition: all 0.5s;
        text-transform: uppercase;
        font-size: 1.3rem;
    }
    .btn-download {
        border-color: #007bff;
        &:hover {
            color: white;
            background-color: #007bff;
        }
    }
    .btn-tour {
        color: #7f8c8d;
        &:hover {
            color: white;
        }
    }
}