* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.overlay {
  background-color: rgba(31, 31, 31, 0.75);
}

a:hover,
a:visited,
a:active,
a {
  text-decoration: none;
}

.section-title {
  h1 {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -1rem;
      width: 5rem;
      height: 1px;
      margin-left: -2.5rem;
      background-color: #129cf3;
    }
  }
  p {
    padding: 0rem 7rem;
    margin-top: 3rem;
    margin-bottom: 7rem;
  }
}

// ----------- header -----------------
.header {
  background-image: url("../images/header-bg.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  .logo {
    img {
      margin-top: 10rem;
      margin-bottom: 5rem;
    }
  }

  .header-img {
    margin-bottom: 10rem;
  }

  .header-title {
    font-size: 2.3rem;
  }
  p {
    font-size: 1.3rem;
  }
  a {
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  .header-btns {
    margin-top: 10rem;
    .btn-download {
      border-color: #129cf3;
      &:hover {
        color: white;
        background-color: #129cf3;
      }
    }
    .btn-tour {
      color: #7f8c8d;
      &:hover {
        color: white;
      }
    }
  }
}

// ------------- choose us header -------
.choose-us-header {
  h2 {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1rem;
      width: 5rem;
      height: 1px;
      background-color: #129cf3;
    }
  }
}

// -------------- choose us item --------
.choose-us-item {
  padding-left: 7rem;
  .icon {
    position: absolute;
    top: 4px;
    left: 0;
    i {
      transition: all 0.5s;
    }
  }

  h3 {
    font-size: 1.3rem;
  }
}

// ------------t estimonial -------------
.testimonial {
  background-image: url("../images/testimonial-bg.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
  img {
    width: 8rem;
    height: 8rem;
    border: 3px solid #129cf3;
    padding: 3px;
    margin-top: 5rem;
  }

  .carousel-item {
    h4 {
      font-size: 1.3rem;
    }

    .caption {
      padding-bottom: 5rem;
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 1rem;
    li {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 100%;
    }
  }
}

// ------------ features ----------------
.features {
  .feature-left {
    padding-right: 7rem;
    margin-bottom: 5rem;
    .icon {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .feature-right {
    padding-left: 7rem;
    margin-bottom: 5rem;
    .icon {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .feature-left,
  .feature-right {
    h3 {
      font-size: 1.4rem;
    }
  }
}

// ------------ purchase -------------
.purchase {
  padding: 5rem 0;
}
