* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.overlay {
  background-color: rgba(31, 31, 31, 0.75);
}

a:hover, a:visited, a:active , a {
  text-decoration: none;
}

.header {
  
  background-image: url("../images/header-bg.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  .logo {
    img {
      margin-top: 10rem;
      margin-bottom: 5rem;
    }
  }

  .header-img {
    margin-bottom: 10rem;
  }
  
  .header-title {
    color: #ecf0f1;
    font-size: 2.3rem;
    margin-top: 3rem;
  }
  p {
    font-size: 1.3rem;
    color: white;
  }
  a {
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  .btn-download {
    border-color: #129CF3;
    &:hover {
      color: white;
      background-color: #129CF3;
    }
  }
  .btn-tour {
    color: #7f8c8d;
    &:hover {
      color: white;
    }
  }
}

.about-title {
  h1 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -1rem;
      width: 5rem;
      height: 1px;
      margin-left: -2.5rem;
      background-color: #129CF3;
    }
  }
  p {
    padding: 0rem 7rem;
  }
}

.choose-us-header {
  h2 {
    font-weight: 800;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1rem;
      width: 5rem;
      height: 1px;
      background-color: #129CF3;
    }
  }
}

.choose-us-item {
  position: relative;
  padding-left: 7rem;
  .icon {
    color: #129CF3;
    position: absolute;
    top: 4px;
    left: 0;
    i {
      transition: all 0.5s;
    }
  }

  h3 {
    font-weight: 800;
    font-size: 1.3rem;
  }
  
}

.testimonial {
  background-image: url('../images/testimonial-bg.jpg');
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
  img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    border: 3px solid #129CF3;
    padding: 3px;
    margin-top: 5rem;
  }

  .carousel-item {
    h2 {
      font-weight: 800;
      color: #129CF3;
      padding-top: 1rem;
      text-transform: uppercase;
    }

    h4 {
      font-weight: 300;
      font-size: 1.3rem;
      color: #129CF3;
      span {
        font-style: italic;
        color: #D8D8D8;
        font-weight: 300;
      }
    }
    
    p {
      margin-top: 3rem;
      color: white;
    }
    
    .caption {
      padding-bottom: 5rem;
    }
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 1rem;
    li {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 100%;
    }
  }
}